@using Webshop.Shared.Models

<h3>CheckoutCartProduct</h3>
<div class="cart-item">
	<img src="@Product.ImageUrl" alt="@Product.Name" class="cart-product-image" />
	<div class="cart-item-info">
		<h4>@Product.Name</h4>
		<CurrencyDisplay Price="@Product.Price"></CurrencyDisplay>
		<p>Qty: @Product.Quantity</p>
	</div>
</div>
@code {
	[Parameter] public required CartProductDisplayDTO Product { get; set; }
}
