@using WebShop.Client.Components.Services
@using Webshop.Shared.Models
@inject NavigationManager NavigationManager
@inject CartService CartService

@if (CurrentProduct is null)
{
	<p>Product not found.</p>
}
else
{
	<div class="product-details">
		<img class="product-image" src="@CurrentProduct.ImageUrl" alt="@CurrentProduct.Name" />
		<div class="product-info-container">
			<h3 class="product-header">@CurrentProduct.Name</h3>
			<p class="product-info">@CurrentProduct.Description</p>
			<CurrencyDisplay Price="@CurrentProduct.Price"></CurrencyDisplay>
			<p class="product-info">In stock: @CurrentProduct.Stock</p>
			<button class="cart-add-button" @onclick="AddToCart">Add to Cart</button>
		</div>
		<button class="back-button" @onclick="BackToHome">Go back to Home</button>
	</div>

}
@code {
	[Parameter] public ProductDTO? CurrentProduct { get; set; }

	private async Task AddToCart()
	{
		if (CurrentProduct != null)
		{
			await CartService.AddToCart(CurrentProduct);
			await CartService.SyncCartToDatabase();
			StateHasChanged();
		}
		else
		{
			BackToHome();
		}
	}

	private void BackToHome()
	{
		NavigationManager.NavigateTo("/");
	}

}
